<template>
	<section>
      <form @submit.prevent="submit()" novalidate>
        <input type="text" v-model="data_form.email" name="email" v-validate="'required|email'" :class="{'input':true,'is-danger':errors.has('email')}">
                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>         
        <input type="text" v-model="data_form.name" name="name" v-validate="'required|alpha'" :class="{'input':true,'is-danger':errors.has('name')}">
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
        <input type="text" v-model="data_form.model" name="model" v-validate="'required|alpha'" :class="{'input':true,'is-danger':errors.has('model')}">
                <span v-show="errors.has('model')" class="help is-danger">{{ errors.first('model') }}</span>
        <input type="text" v-model="data_form.message" name="message" v-validate="'required|alpha'" :class="{'input':true,'is-danger':errors.has('message')}">
                <span v-show="errors.has('message')" class="help is-danger">{{ errors.first('message') }}</span>
        <button type="submit">enviar</button>
      </form>
    </section>
</template>
<script>
	export default{
		data(){
			return{
				data_form:{
					name:'',
					email:'',
					model:'No me interesa ninguno en particular',
					message:''
				}
			}
		},
		methods:{
	      submit(){
	        this.$validator.validateAll().then(()=>{
	          this.add();
	        }).catch(()=>{
	          alert('corrige los errores primeros');
	        })
	      },
	      add(){
	      	axios.post('/conection/conection.php',this.data_form).then(function(response){
	      		alert(response.data);
	      	}).catch(function(error){
	      		alert(error.name);
	      	})
	      }
	    }
	}
</script>